.DS_Store
.idea
.vs
.vscode
.vsconfig
__pycache__

/Build
/Builds
/Library
/Logs
/MemoryCaptures
/obj
/Temp
/node_modules
/Screenshots
/Recordings

AndroidResolverDependencies.xml

statics.json
statics.json.meta

*.csproj
*.sln
*.DotSettings
*.DotSettings.user
**/Plugins/Android/*.aar
**/Plugins/Android/*.aar.meta
**/Plugins/Android/*.jar
**/Plugins/Android/*.jar.meta
*/GeneratedLocalRepo*

/firebase-debug.log

EditorBuildSettingsScenes.backup
AndroidLogcatSettings.asset
